.finds-main-page {
  .navigation-item {
    flex-direction: row-reverse;
    width: 27rem;
    height: 12.5rem;
    color: #fff;
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.25rem; /* 90.909% */
  }
}
