.modal-menu {
    position: absolute;
    top: 90%;
    right: 5%;
    z-index: 1100;
    padding: 1rem;
    border-radius: 1.25rem 0rem 1.25rem 1.25rem;
  &_dark {
    background-color: #272727;
  }
  &_light {
    background-color: #ffffff;
  }
  .ant-menu-item-group-list {
    display: flex;

    .ant-menu-item {
      color: #f67f17;
      &:hover {
        background-color: transparent !important;
        color: #f67f17 !important;
      }
      &-selected {
        background-color: transparent !important;
      }
      .ant-menu-title-content {
        position: relative;
        &:hover:before {
          content: ' ';
          display: inline-block;
          width: 100%;
          border: 1px solid #f67f17;
          position: absolute;
          bottom: 10%;
          left: 0;
        }
      }
     
    }
  }
  .ant-menu-item {
    &:hover {
      background-color: #8b8b8b80 !important;
    }
    &-selected {
      background-color: #f67f17 !important;
    }
  }
  .ant-menu-submenu-title {
    &:hover {
      background-color: #8b8b8b80 !important;
    }
    &:active {
      background-color: transparent !important;
    }
  }
  .ant-menu-dark {
    background-color: #272727;
    .ant-menu-sub {
      background-color: #272727 !important;
    }
  }
  .ant-menu-light{
    img{
      filter: invert(100%);
    }

  }
  .ant-switch{
    margin-bottom: 0.5rem;
  }
  &-switch{
    display: flex;
    justify-content: flex-start;
    gap:0.5rem;
    padding-left:1.5rem ;
    img{
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
