.sideBar {
  padding: 2rem 1rem;
  &-item {
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.375rem;
    cursor: pointer;
    &:hover,
    &_active {
      border: 1px solid #ffffff;
      border-radius: 20px;
      background-color: #ffffff33;
    }
  }
  &-img {
    border: 1px solid #ffffff;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &_dark {
    background-color: #ffffff33;
  }
  &_light {
    background-color: #a0a0a0;
    .sideBar {
      &-item {
        &:hover,
        &_active {
          border-color: #000000;
        }
      }
      &-img {
        filter: invert(1);
      }
    }
  }
}
