.weather {
  height: 100vh;
  background-size: 100% 100%;
  color: inherit;
  display: flex;
  flex-direction: column;
  .header {
    color: #ffffff;
  }
  &-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    .current-block {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      .weather {
        &-img {
          width: 7rem;
          img {
            width: 100%;
          }
        }
        &-value {
          font-size: 4.5rem;
          span {
            color: #fff065;
          }
        }
        &-description {
          display: flex;
          width: 14rem;
          padding: 1rem;
          flex-direction: column;
          align-items: flex-start;
          gap: 1rem;
          border-radius: 1.25rem;
          background: #ffffff1a;
        }
      }
      .weather-time{
        display:flex;
        flex-wrap: wrap;
        max-width: 440px;
        border-radius: 1.25rem;
        background: #ffffff1a;
        padding: 1rem;
        &-item{
          &__icon{

          }
        }
      }
    }
  }
  .feature-block {
    display: flex;
    justify-content: space-around;
    &__item {
      display: flex;
      width: 11rem;
      padding: 1rem;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      align-self: stretch;
      font-size: 1.25rem;
      line-height: 1rem;
      border-radius: 1.25rem;
      &:hover {
        background-color: #ffffff1a;
        cursor: pointer;
      }
   
    }
   
  }
}
