.formInput {
  width: 100%;
  height: 2.5rem;
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding: 0.5rem;
  color: #000000;
  outline: none;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.125rem;
  
  &:placeholder-shown {
    background-color: transparent;
    &:hover {
      color: #ffffff;
      background: #ffffff33;
      &::placeholder {
        color: #ffffff;
      }
    }
  }
  &-label {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0.5rem;
    position: relative;
    &__checkbox {
      flex-direction: row-reverse;
      justify-content: flex-end;
      gap: 0.5rem;
      font-size: 0.875rem;
      position: relative;
    }
    &__error {
      color: #f5222d;
      font-size: 0.75rem;
      font-weight: 500;
    }
    .error-checkbox {
      bottom: -1rem;
    }
  }
  &_inputError {
    border: 1px solid #f5222d;
  }
  &-checkbox {
    width: 1rem;
    height: 1rem;
    position: relative;
    &_error:before {
      content: ' ';
      display: block;
      box-sizing: border-box;
      width: 1rem;
      height: 1rem;
      background: #fc9292;
      color: #ffffffd9 !important;
      border: 1px solid #d9d9d9;
      border-radius: 2px;
    }
  }
  &-icon {
    position: absolute;
    right: 1rem;
    top: 45%;
    cursor: pointer;
  }
  &_light{
    border-color: #000000;
  }
}
.form-button {
  border:none;
  background: #FA541C;
  color:#ffffff;
  width: 100%;
  height: 3.5rem;
  border-radius: 10px;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all .5s;
  &:hover{
    background: #ffffff;
    color:#FA541C;
    border:1px solid #FA541C;
  }
  &:disabled {
    background: #cccccc;
    &:hover{
      background: #cccccc;
      color:#ffffff;
      border: none;
    }
  }
  
}
