.forum{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    &_dark{
    background-color: #2D2D2D;
    }
    &_light{
        background-color:#E1E1E1;
    }
    main{
        flex-grow: 1;
    }
  
}