.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-align: end;
  &_textActive{
    cursor: pointer;
  }
  &-right {
    flex-direction: row-reverse;
  }
  &-top {
    flex-direction: column;
  }
  &-bottom {
    flex-direction: column-reverse;
  }
  &-img {
    cursor: pointer;
    border-radius: 50%;
    max-width: 3.5rem;
    max-height: 3.5rem;
    overflow: hidden;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
    }
  }
}
