.wrapper{
  border-left: 0.5rem solid #FA541C;
  width: 100%;
}
.content{
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 38rem;
  padding-left: 0.94rem;
  width: 100%;
}
.messages{
  padding-left: 1.5rem;
  max-height: 35rem;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.messages::-webkit-scrollbar{
  display: none;
}
.footer{
  // position: absolute;
  left: 0;
  bottom: 3rem;
}
