.wrapper{
  display: flex;
  flex-direction: column;
  height: 38rem;
  padding-left: 0.94rem;
  border-left: 0.5rem solid #FA541C;
}

.messages{
  height: 100%;
  padding-left: 1.5rem;
}
.footer{
  margin-top: auto;
}
