.select {
  background: none;
  border: 1px solid #ffffff;
  border-radius: 10px;
  color: inherit;
  padding: 0.5rem;
  position: relative;
  &__label {
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.375rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    display: flex;
    justify-content: space-between;
    img {
      flex-shrink: 0;
      align-self: center;
    }
    .caret {
      &-down {
        transform: rotate(180deg);
      }
    }
  }
  &__drop-down {
    &.active {
      display: block;
      overflow-y: scroll;
      max-height: 6.75rem;
      user-select: none;
    }
    display: none;
    border: 1px solid #ffffff;
    border-radius: 10px;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 0.5rem;
    color :#ffffff;
    .select__item {
      list-style-type: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0.625rem;
      &:hover {
        background-color: #f67f17;
        cursor: pointer;
        border-radius: 10px;
      }
    }
  }
  &__error {
    border: 1px solid #f5222d;
    color: #f5222d;
    .caret * {
      fill: #f5222d;
    }
    .caret-down * {
      fill: #f5222d;
    }
  }
  &__filled {
    background-color: #ffffff;
    color: #000000;
    font-weight: 500;
    .caret * {
      fill: #000000;
    }
    .caret-down * {
      fill: #000000;
    }
  }
  &_dark{
    .select__drop-down.active {
      background-color: #2f3530;
  }
  }
  &_light{
    border-color: #000000;
    .select__drop-down.active {
      background-color: #cccfcd;
      color: #000000;
  }
  }
}
