.add {
  width: 77.5%;
  margin: 2.5rem auto;
  &-wrapper {
    display: flex;
  }
  &-title {
    text-align: start;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.25rem;
    position: relative;
    &-date{
      position: absolute;
      top:0;
      right:0;
    }
  }
  &-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 76vh;
    width: 59%;
  }
  &-price {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3.75rem;
    text-align: start;
  }
  &-controls {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding-top: 12vh;
    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 70%;
      gap: 2.5rem;
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      align-self: stretch;
      .button {
        font-size: calc(12px + 12 * (100vw / 1440));
        font-weight: 600;
        line-height: 1.25rem;
        display: flex;
        padding: 1.5rem 1rem;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        align-self: stretch;
      }
    }
    .subscription {
      color: #f67f17;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.375rem;
      cursor: pointer;
      display: flex;
      padding: 0.5rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      align-self: stretch;
    }
  }
}
.ant-modal-content {
  background-color: rgba(156, 152, 152, 0.123) !important;
  border-radius: 1.25rem !important;
  button {
    color: #f7eded !important;
  }
  img {
    width: 100%;
  }
}
.ant-carousel .anticon-left,
.ant-carousel .slick-next {
  font-size: 4rem !important;
  color: #ffffff !important;
}
.ant-carousel .slick-prev {
  inset-inline-start: -4.7rem;
}
