.add {
  width: 77.5%;
  margin: 2.5rem auto;
  &-wrapper {
    display: flex;
  }
  &-title {
    text-align: start;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.25rem;
  }
  &-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 76vh;
    width: 59%;
  }
  &-price {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3.75rem;
    text-align: start;
  }
  &-controls {
    flex-grow: 1;
  }
}
.ant-modal-content {
  background-color: rgba(156, 152, 152, 0.123) !important;
  border-radius: 1.25rem !important;
  button {
    color: #f7eded !important;
  }
  img {
    width: 100%;
  }
}
.ant-carousel .anticon-left,
.ant-carousel .slick-next {
  font-size: 4rem !important;
  color: #ffffff !important;
}
.ant-carousel .slick-prev {
  inset-inline-start: -4.7rem;
}