.currentInfo {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  align-items: center;
  color: white;
  font-size: 24px;
  &-wrapper {
    width: 30%;
    height: 319px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    position: relative;
    bottom: 30px;
  }
  &-name {
    font-size: 40px;
    font-weight: 800;
  }
  &-description {
    color: #cccccc;
  }
  &-date {
    display: flex;
    justify-content: space-around;
    width: 74%;
    background-color: #3f3c30cc;

    height: 68px;
    border-radius: 20px;
    margin-top: 8px;
    font-weight: 600;
    padding: 16px;
  }
  &-photos {
    position: relative;
    width: 44%;
    height: 51px;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .img {
      &__offset {
        position: absolute;
        top: 0;
      }
    }
    .item {
      &-1 {
        left: 0px;
        z-index: 4;
      }
      &-2 {
        left: 32px;
        z-index: 3;
      }
      &-3 {
        left: 64px;
        z-index: 2;
      }
      &-4 {
        left: 96px;
        z-index: 1;
      }
    }
  }
}
