.comments-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  &__content {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
  }
  .logo-text {
    &__name {
      font-size: 1rem;
    }
    &__subname {
      font-size: 0.75rem;
    }
  }
  &__controller {
    color: #f67f17;
    font-size: 0.875rem;
    font-weight: 400;
    text-align: start;
  }
}
.subcomment{
  display: flex;
padding: 0rem 2rem;
justify-content: center;
align-items: center;
align-content: center;
gap: 2rem;
flex-wrap: wrap;
}