.date {
    text-align: start;
  &-select {
    display: flex;
    gap: 0.5rem;
    .select {
      width: 6.5rem;
      margin-top: 0.5rem;
      &__drop-down {
        &.active {
          background-color: #2f3530;
        }
      }
    }
  }
  &__error {
    color: #f5222d;
    font-size: 0.75rem;
    text-align: start;
    margin-top: 0.5rem;
  }
}
