.wrapper {
  display: flex;
  width: 100%;
}
.myMessage{
  justify-content: end;
}
.message {
  display: flex;
  padding: 1rem;
  align-items: center;
  gap: 1rem;
  border-radius: 0.625rem 0.625rem 0rem 0.625rem;
  background: #444;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.375rem;
  width: max-content;
}
.companion{
  display: flex;
  padding: 1rem;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  border-radius: 0.625rem 0.625rem 0.625rem 0rem;
  background: #181818;
}
