.wrapper{
  width: 77.5%;
  margin: 0 auto;
  text-align: start;
  padding-top: 1.5rem;
  padding-bottom: 12.5vh;
  background: #2D2D2D;
  &_light{
    background:#E1E1E1;
  }
}

.form{
  display: flex;
  flex-direction: column;
  gap: 3.60rem
}

.uploadPhoto{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.uploadPhoto :global .ant-upload-select {
  width: 6.25vw !important;
  height: 6.25vw !important;
  border: 2px solid #fa541c !important;
  &:hover {
    border-color: aliceblue !important;
  }
  .anticon-plus {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid #fa541c;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.uploadPhoto :global .ant-upload-list-item {
  width: 6.25vw !important;
  height: 6.25vw !important;
  border-color: #fa541c !important;
  &-done {
    align-items: flex-start !important;
    justify-content: flex-end !important;
  }
  &-actions {
    text-align: end !important;
    top: 0;
  }
  &-container {
    width: auto !important;
    height: auto !important;
  }
}
.uploadItem svg{
  fill: #f67f17;
}

.title{
  font-family: Roboto,sans-serif;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem;
}
.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 9rem;
}
.titleAndCategory{
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  width: 100%;
}
.serviceTitle{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.inputTitle{
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem
}
.category{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}
.categoryItem{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  &_light{
  img{
    filter:invert(1)
      }
    }
}
.dropdownImg{
  border-radius: 6.25rem;
  padding: 0.5rem;
  border: 1px solid #FFF;
}
.categoryActive{
  border-radius: 1rem;
  border: 1px solid #fa541c;
  padding: 0.5rem 1.38rem 0.5rem 1.59rem;
}
.inputs{
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  width: 100%;
}

.descriptionAndPrice{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.salesman{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.formButton{
  max-width: 10rem;
  border-radius: 1.25rem;
}
.success{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.button{
  align-self: center;
  display: flex;
  justify-content: center;
  padding: 0.25rem 0.9375rem;
  width: 22vw;
  height: 5.4vh;
  margin-top: 2.3vh;
}
.controls{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.changeButton{
  align-self: center;
  margin-top: 1rem;
}
.error{
  color: #f5222d;
  font-size: 0.75rem;
  font-weight: 500;
}
.priceInfo{
  display: flex;
  gap: 1rem;
}
.check{
  display: flex;
  gap: 0.5rem;
}