.search-form {
  width: 46%;
  margin: 0 auto;
  display: flex;
  border: 1px solid #ffffff;
  border-radius: 20px;
  transition: all 0.5s;
  &__input {
    height: 32px;
    background: transparent;
    border: none;
  }
  .text-input {
    flex: 1;
    padding: 0 12px;
    color: #ffffff;
    &::placeholder {
      font-size: 14px;
      color: #ffffff;
    }
  }
  .search-input {
    position: relative;
    width: 32px;
    border-left: 1px solid #ffffff;
    background: url('../../assets/Vector-6.png');
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: center;
  }
  &__icon {
    position: absolute;
  }
  &:hover {
    background-color: #ffffff2d;
  }
}
