.aboutUs {
  overflow-y: visible;
  .header{
    margin:0;
    
  }  
  .footer{
    margin: auto;
  }  
  &_dark {
    background-color: #2f3530;
  }
  &_light {
    background-color: #C9C9C9;
  }
  &-content{
    .confidentiality {
      height: auto;
      background-color:inherit;
      overflow: auto;
  }
  }
}
