.aboutUs {
  height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none; 

  &::-webkit-scrollbar {
    display: none; 
  }
  .footer {
    margin: auto;
  }
  &_dark {
    background-color: #2f3530;
  }
  &_light {
    background-color: #c9c9c9;
  }
  &-content {
    .confidentiality {
      height: auto;
      background-color: inherit;
      overflow: auto;
    }
  }
}
